.todo-row-wrapper {
	display: flex;

	box-shadow: 1px 1px 4px rgba(128,128,128,.8);

	align-items: center;
}

.todo-row-wrapper .todo-label {
	display: flex;

	min-height: 4rem;

	flex-grow: 1;
	align-items: center;
}

.todo-row-wrapper .delete-todo {
	width: 3rem;
	height: 3rem;
	margin-right: 10px;
	padding: 0;

	color: #ff5722;
	border: 0;
	background-color: transparent;

	font-size: 3rem;
	line-height: 3rem;
}

.todo-row-wrapper .todo-label .checkbox:checked + .text {
	text-decoration: line-through;
}

.todo-row-wrapper .todo-label > .text {
	line-height: 40px;

	flex-grow: 1;
}

.todo-row-wrapper .todo-label,
.todo-row-wrapper .todo-label .checkbox,
.todo-row-wrapper .delete-todo {
	cursor: pointer;
}

.todo-row-wrapper .edit-todo-form {
	display: flex;

	flex-grow: 1;
	align-self: stretch;
}

.todo-row-wrapper .edit-todo-form > *:not(:first-child) {
	margin-left: 5px;
}

.todo-row-wrapper .edit-todo-form .text {
	font-size: 1.6rem;

	flex-grow: 1;
}
