.add-new-todo-form {
	display: flex;

	height: 44px;
	margin-bottom: 15px;
}
.add-new-todo-form .new-todo-name {
	padding-right: 5px;
	padding-left: 5px;

	font-size: 1.6rem;

	flex-grow: 1;
}
.add-new-todo-form .add-new-btn {
	font-size: 1.6rem;
	flex-basis: 90px;
}
